[mysqld]
port=3306
bind-address=0.0.0.0


# تفعيل سجل التغييرات الثنائي (Binary Logging) و GTID
log-bin
binlog-format=ROW
gtid-mode=ON
enforce-gtid-consistency=ON
require_secure_transport=ON

# إعدادات InnoDB
transaction_isolation = READ-COMMITTED
default_authentication_plugin=mysql_native_password

# إعدادات Group Replication (سيتم تحديد SERVER_ID لاحقاً في Docker Compose)
# server-id=<فريد لكل مثيل>
log_slave_updates=ON
loose-group_replication_start_on_boot=off
loose-group_replication_group_name="a1d479e0-192b-11ec-9621-0242ac130002"
loose-group_replication_local_address=@HOSTNAME:3306
loose-group_replication_single_primary_mode=ON
loose-group_replication_enforce_update_everywhere_checks=ON
